/* ===== about ===== */
.about {
  @include responsiveMin(42em) {
    h2 {
      text-align: left;
    }
  }
  .bio {
    @include flexbox();
    min-height: 30em;
    h4 {
      font-family: $sans;
    }

    p {
      font-size: 1.2em;
      line-height: 1.5em;
      margin-bottom: 1em;
      &.image {
        text-align: center;
      }
    }
    a {
      font-weight: 300;
      i {
        margin-right: 5px;
      }
    }
    > div {
      order: 2;
      @include responsiveMin(42em) {
        flex: 0 1 60%;
        order: 0;
      }
    }
    aside {
      margin: 0 auto 2em;
      order: 1;
      @include responsiveMin(42em) {
        flex-basis: 35%;
        margin: 0;
      }
      img {
        height: auto;
        width: 200px;
      }
      div {
        position: relative;
        .highlight {
          width: 200px;
          height: 250px;
          background-color: $green_medium;
          position: absolute;
          bottom: 0;
          left: -10px;
          z-index: -1;
          @include responsiveMin(42em) {
            left: 25px;
          }
          @include responsiveMin(60em) {
            left: 60px;
          }
        }
      }
    }
  }
}
