/* ===== header ===== */
header {
  margin: 3.75em 0;
  &.sticky {
    background-color: #FFFFFF;
    border-bottom: 2px solid $green;
    box-shadow: 0 2px 4px rgba($dark-grey, .25);
    left: 0;
    margin-top: 0;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: box-shadow .1s ease-in;
    .width {
      padding-bottom: 0;
      @include responsiveMin(700px) {
        padding-bottom: 1em;
      }
      h1 {
        margin-left: 1em;
      }
      .mobile-nav {
        margin-right: 2em;
      }
    }
  }
  > div {
    @include flexbox($align-items: flex-start);
    padding-bottom: 1em;
    position: relative;
    h1 {
      //font-size: 1.15em;
      line-height: .8em;
      margin: 0;
      a {
        color: $green;
      }
    }
    nav {
      display: none;
      margin-top: .5em;
      text-align: right;
      width: 100%;
      a {
        display: block;
        font-weight: bold;
        margin: .5em 0;
        padding: .5em 0;
        text-transform: uppercase;
        &.active {
          color: $green;
        }
      }
    }
    .mobile-nav {
      border: none;
      cursor: pointer;
      display: block;
      height: 3.5em;
      position: relative;
      width: 3.5em;
      @include responsiveMin(700px) {
        display: none;
      }
      &:hover, &:focus {
        border: none;
        outline: none;
      }
      span {
        background-color: $green;
        content: "";
        display: block;
        height: .3em;
        left: .6em;
        position: absolute;
        right: .6em;
        top: 1em;
        transition: background 0s .3s;
        &::before, &::after {
          @extend span;
          left: 0;
          transition-delay: .3s, 0s;
          transition-duration: .3s, .3s;
          width: 100%;
        }
        &::before {
          top: -.7em;
          transition-property: top, transform;
        }
        &::after {
          bottom: -.7em;
          top: auto;
          transition-property: bottom, transform;
        }
      }
      &.active {
        span {
          visibility: hidden;
          &::before, &::after {
            visibility: visible;
            transition-delay: 0s, .3s;
          }
          &::before {
            top: 0;
            transform: rotate(45deg);
          }
          &::after {
            bottom: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
    @include responsiveMin(700px) {
      align-items: baseline;
      nav {
          display: block !important;
          margin: 0;
          width: auto;
          a {
            display: inline-block;
            margin: 0;
            padding: 0;
            &:not(:first-child),
            &:not(:last-child) {
              margin: 0 1.5em;
            }
          }
      }
    }
  }
}
