/* ===== hero ===== */
%box {
  background-color: rgba(lighten($teal, 15%), 0.5);
}

#hero {
	#name {
		@include flexbox($justify-content: flex-end);
		text-align: right;
		.box {
			@extend %box;
			height: 150px;
			width: 325px;
		}
		.text {
			//font-family: $sans;
			font-size: 5em;
			line-height: 1em;
			margin: 0;
			position: absolute;
			right: 200px;
			top: 200px;
			& span {
				display: block;
			}
		}
	}
	#intro {
		margin-top: 100px;
		.box {
			@extend %box;
			height: 150px;
			width: 325px;
		}
		.text {
			font-family: $sans;
			font-size: 2.5em;
			line-height: 1.2em;
			margin: 0;
			position: absolute;
			//left: 175px;
			margin-left: 40px;
			top: 475px;
			& span {
				display: block;
			}
		}
	}
}