/* ===== lightbox ===== */
#lightbox-container {
  background-color: rgba(0,0,0,.75);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  #lightbox {
    background: $light-grey;
    box-sizing: border-box;
    color: $dark-grey;
    left: 50%;
    max-height: 98vh;
    max-width: 98vw;
    padding: 3em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    img {
      max-height: 80vh;
      max-width: 80vw;
    }
  }
  .close {
    cursor: pointer;
    position: absolute;
    right: 1.5em;
    top: 1em;
    &:hover, &:active {
      border-color: transparent;
    }
  }
}
a.lightbox{
  border-bottom: none;
  &:hover, &:active {
    border-bottom: none;
  }
}
