/* ===== portfolio ===== */
.portfolio {
  > article {
    @include flexbox();
    box-sizing: border-box;
    margin: 7em 0;
    min-width: 300px;
    @include responsiveMin(60em) {
      margin: 10em 0;
    }
    &:first-of-type {
      margin-top: 5em;
    }
    &.right {
      flex-flow: row-reverse;
      flex-wrap: wrap;
    }
    h3 {
      margin-top: 0;
    }
    .img {
      &:hover, &:active {
        border-color: transparent;
        opacity: 1;
      }
    }
    .details {
      flex: 0 1 100%;
      @include responsiveMin(60em) {
        flex: 0 1 30%;
      }
    }
    .button {
      display: block;
      text-align: center;
      @include responsiveMin(32em) {
        display: inline-block;
        text-align: left;
      }
    }
  }
}
.progressive {
  overflow: hidden;
  position: relative;
  img {
    box-shadow: 0 2px 4px rgba($dark-grey, .5);
    flex: 0 1 100%;
    height: auto;
    margin-bottom: 1em;
    max-width: 600px;
    width: 100%;
    @include responsiveMin(60em) {
      flex: 0 1 62%;
      margin-bottom: 0;
    }
    &.lowres {
      @include prefix(filter, blur(5px), webkit)
    }
    &.overlay {
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity 200ms ease-in;
    }
  }
}
