/* Reset */
@import url("reset.css");

/*
--------- TABLE OF CONTENTS ---------
	01 - BASE STYLES
	02 - HEADER
	03 - NAVIGATION
	04 - PAGE CONTENT
	05 - PORTFOLIO
	06 - FOOTER
	07 - MEDIA QUERIES

	COLORS
    Teal: rgb(0,204,204)
    Grey: #333

	FONTS
    Headers: Roboto Slab
    Body: Roboto
*/

/* --------- 01 - BASE STYLES --------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition:    all 0.2s ease-in-out;
  -ms-transition:     all 0.2s ease-in-out;
  -o-transition:      all 0.2s ease-in-out;
  transition:         all 0.2s ease-in-out;
  /*-webkit-font-smoothing: antialiased;*/
}

body {
  background-color: rgb(255,255,255);
  color: #333;
  font: .9em/1.8em 'Roboto', Helvetica, Arial, sans-serif;
  margin: 50px;
}


.width {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
}

a {
  border: none;
  color: rgb(0,204,204);
  text-decoration: none;
}

a:hover,
a:focus,
a:active { border-bottom: 1px dotted #333; }

h1 {
  color: rgb(0,204,204);
  font: 2.3em/1.2em 'Roboto Slab', Georgia, serif;
  margin: 30px 0;
}

h2 {
  color: rgb(0,204,204);
  font: 1.2em/1em 'Roboto Slab', Georgia, serif;
  margin: 20px 0 10px;
}

::selection {
  background-color: #777;
  color: #fff;
}

::-moz-selection {
  background-color: #777;
  color: #fff;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.center {
  margin: 0 auto;
  text-align: center;
}

/* --------- 02 - HEADER --------- */
header,
#header {
	border-bottom: 7px double rgb(0,204,204);
	height: 100px;
	position: relative;
}

.logo img { opacity: 1; }
.logo:hover img { opacity: 0.85; }

.logo:hover,
.logo:focus,
.logo:active { border: none; }

/* --------- 03 - NAVIGATION --------- */
.nav { margin-top: 50px; }

.nav ul li {
  display: inline-block;
  font-weight: bold;
  margin: 0 20px;
  text-transform: uppercase;
}

.nav a {
  color: #666;
  opacity:1;
  text-decoration: none;
}

.nav a:hover,
.nav a:active,
.nav a:focus {
  border: none;
  opacity: .5;
  text-decoration: none;
}

.nav a.active { color: rgb(0,204,204); }

.mobile-nav {
  cursor: pointer;
  display: none;
  height: 50px;
  margin-top: 29px;
  position: relative;
  width: 50px;
}

.mobile-nav:hover,
.mobile-nav:focus {
  border: none;
  outline: none;
}

.mobile-nav span {
  background-color: #666;
  content: "";
  display: block;
  height: 4px;
  left: 8px;
  position: absolute;
  right: 8px;
  top: 25px;
  transition: background 0s .3s;
}

.mobile-nav span::before,
.mobile-nav span::after {
  background-color: #666;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  transition-delay: .3s, 0s;
  transition-duration: .3s, .3s;
  width: 100%;
}

.mobile-nav span::before {
  top: -10px;
  transition-property: top, transform;
}

.mobile-nav span::after {
  bottom: -10px;
  transition-property: bottom, transform;
}

.mobile-nav.active span { background: none; }

.mobile-nav.active span::before {
  top: 0;
  transform: rotate(45deg);
}

.mobile-nav.active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.mobile-nav.active span::before,
.mobile-nav.active span::after { transition-delay: 0s, .3s; }


/* --------- 04 - PAGE CONTENT --------- */
/* about */
.bio-image {
  border-radius: 50%;
  margin: 0 0 20px 20px;
}

.intro {
  font-weight: bold;
  margin-right: 6px;
}

.bio { margin: 20px auto; }

.highlight {
	background-color: rgb(0,204,204);
	color: #fff;
	margin: 0 3px;
	padding: 2px 4px;
  white-space: nowrap;
}

.em {
  color: rgb(0,204,204);
  font-weight: bold;
}

.icon-border {
  border: 2px solid transparent;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  padding: 3px;
}

.icon {
  background-color: #666;
  border-radius: 50%;
  color: #fff;
  height: 85px;
  padding: 30px 0;
  text-align: center;
  width: 85px;
}

.tool-kit .icon { font-size: 1.5em; }

.icon-border:hover,
.icon-border.active { border: 2px solid rgb(0,204,204); }

.icon-border:hover .icon,
.icon-border.active .icon { background-color: rgb(0,204,204); }

.description {
  height: 1em;
  margin: 10px 0;
  text-align: center;
}

div.bonus { width: 60%; }

.bonus h2 { margin-bottom: 0; }

.bonus p {
  font-size: 12px;
  margin-bottom: 5px;
}

ul.bonus {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

ul.bonus li:before {
  /*color: rgb(0,204,204);*/
  content: "\25CF";
  margin-right: 5px;
}

/* contact */
#form {
  margin-top: 20px;
  width: 50%;
}

#form .txtinput {
  display: block;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  border: 1px solid #dedede;
  margin-bottom: 15px;
  padding: 12px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
  transition: border .15s linear 0s, box-shadow .15s linear 0s, color .15s linear 0s;
    -webkit-transition: border .15s linear 0s, box-shadow .15s linear 0s, color .15s linear 0s;
    -moz-transition: border .15s linear 0s, box-shadow .15s linear 0s, color .15s linear 0s;
    -o-transition: border .15s linear 0s, box-shadow .15s linear 0s, color .15s linear 0s;
}
#form .txtinput:focus {
  color: rgb(0,204,204);
  border-color: rgba(41, 92, 161, .4);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset, 0 0 4px rgba(41, 92, 161, .6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset, 0 0 4px rgba(41, 92, 161, .6);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset, 0 0 4px rgba(41, 92, 161, .6);
  outline: 0 none;
}
#form textarea {
  display: block;
  font-family: 'Roboto', Arial, sans-serif;
  border: 1px solid #dedede;
  margin-bottom: 15px;
  padding: 12px;
  width: 100%;
  min-height: 180px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
  transition: border .15s linear 0s, box-shadow .15s linear 0s, color .15s linear 0s;
    -webkit-transition: border .15s linear 0s, box-shadow .15s linear 0s, color .15s linear 0s;
    -moz-transition: border .15s linear 0s, box-shadow .15s linear 0s, color .15s linear 0s;
    -o-transition: border .15s linear 0s, box-shadow .15s linear 0s, color .15s linear 0s;
}
#form textarea:focus {
  color: rgb(0,204,204);
  border-color: rgba(41, 92, 161, .4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset, 0 0 4px rgba(40, 90, 160, .6);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset, 0 0 4px rgba(40, 90, 160, .6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset, 0 0 4px rgba(40, 90, 160, .6);
  outline: 0 none;
}

#buttons #submitbtn {
  display: block;
  float: left;
  width: 30%;
  padding: 1em;
  border: 1px solid;
  font:bold 1.3em;
  color: #fff;
  word-wrap: normal;
  vertical-align: middle;
  border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(256,256,256,.35);
    -moz-box-shadow: inset 0 1px 0 rgba(256,256,256,.35);
    -ms-box-shadow: inset 0 1px 0 rgba(256,256,256,.35);
    -webkit-box-shadow: inset 0 1px 0 rgba(256,256,256,.35);
  background-color: rgb(204,204,204);
  text-align: center;
}

#buttons #submitbtn:hover, #buttons #submitbtn:active {
  color: #fff;
  box-shadow: inset 0 1px 0 rgba(256,256,256,.4),0 1px 3px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 0 rgba(256,256,256,.4),0 1px 3px rgba(0,0,0,.5);
    -ms-box-shadow: inset 0 1px 0 rgba(256,256,256,.4),0 1px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(256,256,256,.4),0 1px 3px rgba(0,0,0,.5);
  background: rgb(0,204,204);
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}


/* --------- 05 - PORTFOLIO --------- */
.portfolio {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.portfolio a {
  border: none;
  float: left;
  margin: 10px;
}

.portfolio a:hover { border: none; }

.portfolio figure {
  margin: 0;
  overflow: hidden;
  position: relative;
}

.portfolio figcaption {
  background: #666;
  bottom: 0;
  color: #fff;
  min-height: 20px;
  left: 0;
  padding: 1em;
  position: absolute;
  top: auto;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  width: 100%;
}

.portfolio a:hover figcaption {
  transform: translate3d(0,0,0);
}

.lb-data .lb-caption a {
  color: rgb(0,204,204) !important;
}

/* --------- 06 - FOOTER --------- */
footer,
#footer {
  border-top: 2px solid rgb(0,204,204);
  color: #CCC;
  margin-top: 45px;
  padding-top: 20px;
  text-align: center;
}

.social a { margin: 0 20px; }

.social a:hover,
.social a:focus,
.social a:active {
  text-decoration: none;
  border: none;
}

.social a img { opacity: .5; }
.social a:hover img { opacity: 1; }


/* --------- 07 - MEDIA QUERIES --------- */
@media screen and (max-width: 1060px) {
  .portfolio a { width: 30%; }

  .portfolio img {
    height: auto;
    width: 100%;
  }

  div.bonus { width: 80%;}
}

@media screen and (max-width: 850px) {
  #form { width: 75%; }

  div.bonus { width: 100%; }

  ul.bonus {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media screen and (max-width: 800px) {
  .portfolio a { width: 45%; }
}

@media screen and (min-width: 769px) {
	.nav { display: block !important; }

	.mobile-nav { display: none !important; }
}

@media screen and (max-width: 768px) {
  .mobile-nav { display: block; }

  .nav {
  	height: 0;
  	margin-top: 104px;
  	overflow: hidden;
  	position: absolute;
  	text-align: center;
  	width: 100%;
  	z-index: 9999;
  }

  .nav.open {
  	background-color: rgba(102,102,102,.9);
  	min-height: 225px;
  }

  .nav ul li {
  	display: block;
  	margin: 30px auto;
  }

  .nav ul li:first-child { margin-top: 50px; }

  .nav ul li a { color: #fff; }

  .bio-image {
    height: auto;
    width: 150px;
  }
}

@media screen and (max-width: 515px) {
  .portfolio {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .portfolio a { width: auto; }

  .break { clear: both; }

  .icon-border { margin: 0 10px 10px 0; }

  .description { text-align: left; }
}

@media screen and (max-width: 500px) {
  #form { width: 100%; }

  .bio-image {
    border-radius: 10px;
    float: left;
    margin-left: 0;
    margin-right: 100%;
  }
}

/* == Those who don't believe in magic will never find it. == */
